# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
OpenSiv3D-Template/build/
OpenSiv3D-Template/engine/
OpenSiv3D-Template/include/
OpenSiv3D-Template/lib/
OpenSiv3D-Template/resources/
.archive
